:root {

    --red    : #F25F5C;
    --orange : #EF7B45;
    --yellow : #FFE066;
    --green  : #70C1B3;
    --cyan   : #25CED1;
    --blue   : #247BA0;
    --violet : #7678ED;
    --white  : #FDFDFF;
    --black  : #393D3F;
}